<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Form</title>
    <link th:href="@{/form-stylesheet.css}" rel="stylesheet">
  </head>    
  <body>
    <div class="topnav">
      <a th:href="@{/mkv/web/course/form}" style="background-color : green">Form</a>
      <a th:href="@{/mkv/web/course/courses}">Course Table</a>
      <a th:href="@{/mkv/web/student/students}">Student Table</a>
      <a th:href="@{/mkv/web/examresult/examResults}">Exam Result Table</a>
    </div>
    <div class="container">
      <h2> Grade Portal </h2>
      <div class="topnav">
        <a th:href="@{/mkv/web/course/form}" style="background-color : green">Courses</a>
        <a th:href="@{/mkv/web/student/form}" >Students</a>

        <a th:href="@{/mkv/web/examresult/form}">Exam Results</a>
      </div>
      <form method="post" th:object="${course}" th:action="@{/mkv/web/course/handleSubmit}">
        <input type="text" placeholder="Name" th:field="*{name}">
<!--        <input type="text" placeholder="Score" th:field="*{score}">  -->
<!--        <input type="text" placeholder="Subject" th:field="*{subject}">-->
        <input type="hidden" th:field="*{id}">
        <br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
</body>
</html>