<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Form</title>
    <link th:href="@{/form-stylesheet.css}" rel="stylesheet">
  </head>    
  <body>
  <div class="topnav">
    <a th:href="@{/mkv/web/course/form}" style="background-color : green">Form</a>
    <a th:href="@{/mkv/web/course/courses}">Course Table</a>
    <a th:href="@{/mkv/web/student/students}">Student Table</a>
    <a th:href="@{/mkv/web/examresult/examResults}">Exam Result Table</a>
  </div>
    <div class="container">
      <h2> Student Portal </h2>
      <div class="topnav">
        <a th:href="@{/mkv/web/course/form}">Courses</a>
        <a th:href="@{/mkv/web/student/form}" style="background-color : green">Students</a>
        <a th:href="@{/mkv/web/examresult/form}">Exam Results</a>
      </div>
      <form method="post" th:object="${student}" th:action="@{/mkv/web/student/handleSubmit}">
        <input type="text" placeholder="Name" th:field="*{full_name}">
        <input type="text" placeholder="Number" th:field="*{number}">
        <input type="text" placeholder="Email" th:field="*{email}">
        <input type="text" placeholder="Gsm Number" th:field="*{gsm_number}">
        <input type="hidden" th:field="*{id}">
        <br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
</body>
</html>